{% load static %}

<!-- contact.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Contact</title>
  <style>
    .map-screenshot {
      max-width: 100%;
      height: auto;
    }
    
    .contact-info {
      margin-top: 20px;
      font-size: 16px;
    }
    
    .contact-info strong {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h1>Contact Information</h1>
  <p><strong>Mobile Number:</strong> 9179501037</p>
  <img src="{% static 'dist/img/map1.jpeg' %}" alt="Image 1" class="map-screenshot">
  
  <div class="contact-info">
    
  </div>
</body>
</html>
